:root {
    --newBlue: #1e90ff;
    --white: #ffffff;
    --backgroundColor1: black;
    --backgroundColor2: #141414;
    --fontColor1: #FFFFFF;
    --mainBoxBorder: #282828;
}

@font-face {
    font-family: "Glysa";
    src: local("Glysa"), url("./fonts/Glysa.otf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca";
    src: local("LexendDeca-VariableFont_wght"), url("./fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
}

html {
    background-color: var(--backgroundColor2);
}

.App {
    background-color: var(--backgroundColor2);
}

.main-container {
    /* border-top: 5px solid red; */
    margin-top: 10%;
}

.main-container-narrow {
    flex-grow: 1;
    /* border-right: 5px solid red;
    border-left: 5px solid red; */
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
}

.contacts-box {
    flex: auto;
    flex-grow: 1;
    /* background-color: beige; */
    border: 1px solid;
    border-color: var(--mainBoxBorder);
}

.contact-title {
    flex: auto;
    flex-grow: 1;
    background-color: var(--backgroundColor2);
    display: flex;
}

.contact-title h1 {
    flex: auto;
    flex-grow: 1;
    margin-left: 10px;
    color: var(--fontColor1);
    font-family: 'Glysa';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.list-group {
    background-color: var(--backgroundColor2);
    border-radius: 0;
}

.list-group-item {
    background-color: var(--backgroundColor2);
    display: flex;
    border: none;
    /* border-color: red; */
    /*temporary*/
}


/* avatarStyle={{ borderWidth: 2, borderColor: 'white', borderTopLeftRadius: 1, borderStyle:'solid' }} */

.contact-entity {
    display: flex;
    flex-grow: 1;
    margin-left: 25px;
    padding: 25px 0;
}

.contact-entity-icons {
    display: flex;
    margin-left: auto;
}

.contact-entity h3 {
    color: var(--fontColor1);
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.contact-entity h4 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.01em;
}

.dropdown {
    background-color: var(--backgroundColor2);
    position: relative;
    display: inline-block;
    align-items: center;
}

.dropdown-content {
    right: 0;
    left: auto;
}